<div id="tarjeta">
    <div id="izquierda">
        <img src="imgs/gato.jpg" alt="Icono" id="icono">
        <p id="nombre">NOMBRE</p>
    </div>
    <div id="derecha">
        <div class="indicador">
            <p class="numero" id="numero1">0</p>
            <p class="texto" id="texto1">TEXTO</p>
        </div>
        <div class="indicador">
            <p class="numero" id="numero2">0</p>
            <p class="texto" id="texto2">TEXTO</p>
        </div>
        <div class="indicador">
            <p class="numero" id="numero3">0</p>
            <p class="texto" id="texto3">TEXTO</p>
        </div>
    </div>
</div>